/node_modules/
.next
/src/.next/
/src/.next/*
/.idea/
/node_modules/
!.keep
npm-debug.log.*
.idea
.DS_Store
/dist/
*.iml
yarn.lock
.vscode/*
/coverage/
.history/
storybook-static/
cypress/videos
!/.env
